<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<!-- 
<form method="GET" action="/results">
    <label for ="searchInput">Search:</label>
    <input id="searchInput" type="text" placeholder="enter your query..." name="search"/>
    <button type="submit">Submit</button>
</form> -->

<!-- search form that lets the user search the OMBD API -->
<form method="GET" action="/results">
    <label for="search-input">Search:</label>
    <input id="search-input" type="text" placeholder="Enter your search..." name="movieInput" />

    <button type ="submit">Search OMDB</button>
</form>